*
{
    margin: 0;
    padding: 0;
}
body{background-color:lightgrey;}
.container_header
{
    padding: 20px;
    background-color: white;
}
.container_header h1
{
    display: inline-block;
    vertical-align: middle;
}
h1
{
    font-size: 40px;
}
.logo{vertical-align: middle;}

.container_main1
{
    width: 70%;
    margin:30px auto 0px auto;
    background-color: white;
    padding: 15px 50px;
    border-radius: 5px;
}

.button_blue
{
    background-color: #47ADF1;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid #47ADF1;
    display: inline-block;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}
.button_white
{
    background-color: white;
    text-align: center;
    padding: 10px 15px;
    border:2px solid lightgrey;
    display: inline-block;
    font-size: 16px;
    color: lightgrey;
    border-radius: 5px;
}
.container_main2
{
    width: 70%;
    margin:5px auto;
    background-color: white;
    padding: 50px 50px;
    border-radius: 5px;
}

div section h2{font-size: 20px;}

.triangle
{
    font-size: 10px;
}
.check
{
    border-radius: 50%;
    border: 2px solid lightgreen; 
    color: lightgreen; 
    padding: 3px;
    
}
.cross
{
    border-radius: 50%;
    border: 2px solid red; 
    color: red; 
    padding: 3px;
    
}

.button
{
    border: none;
    text-align: center;
    padding: 2px 5px;
    display: inline-block;
    font-size: 12px;
    color: white;
    border-radius: 10px;
}

.blue{background-color: #47ADF1;}

.violet{background-color: #9C72E4;}

.aqua{background-color: #64C0A9;}

.orange{background-color: #F29E33;}

.pink{background-color: #D863A1;}

.gold{background-color: #B0C928;}